body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,0,20,1) 20%, rgba(30,0,40,1) 40%, rgba(25,0,60,1) 60%, rgba(15,0,80,1) 80%, rgba(0,0,255,1) 100%);
  color: white;
  font-family: "Montserrat", "sans-serif";
  text-align: center;
}

ul {
  display: inline;
}

 ---margins---

.margin10px {
  margin: 10px;
  padding: 20px;
}
.margin20px {
  margin: 20px;
  padding: 20px;
}
.margin30px {
  margin: 30px;
  padding: 20px;
}
.margin40px {
  margin: 40px;
  padding: 20px;
}
.margin50px {
  margin:50px;
  padding: 20px;
}
